body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
  background-image: url("Escher_Homage_by_alexmartinez.jpg");
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton, .lineUpButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid yellow;
  border-radius:10px;
  position:absolute;
}
.swDancer{
  border: 10px solid black;
  border-radius:10px;
  position: absolute;
  /*figure out how to add an image*/
}
.swingDancerImg{
  height: 100px;
  width: 100px
}

